<% layout('layout/boilerplate') %>
<section class="coming-soon">
    <div id="content">
        <div id="showcase-top">
            <a href="/"><img src="/logos/EGLMedia.svg" alt="EGL Media"></a>
            <nav id="navbar">
                <ul>
                    <li><a class="nav-link">About</a></li>
                    <li><a class="nav-link">Projects</a></li>
                    <li><a class="nav-link">Photography</a></li>
                    <li><a class="nav-link">Blog</a></li>
                    <li><a class="nav-link">Contact</a></li>
                    <i class="fa fa-adjust nav-link" aria-hidden="true"></i>
                </ul>
            </nav>
        </div>
        <div id="showcase-middle">
            <h2><%=post.title%></h2>
            <div class="countdown">
                <p><%=post.text%></p>
                <div>By:Giovanni</div>
                <div>Published: <%=post.date%></div>
                <div><%=post.readlength%> min read</div>
                <img src="<%=post.image%>" style='width: 300px; height: 200px;' alt="image">
            </div>
            <a href="/blogs/<%=post._id%>/edit">Edit Blog Post</a>
            <p>
                <form action="/blogs/<%=post._id%>?_method=DELETE" method="POST">
                <button style="background-color: crimson; color: white; border: none; padding: 0.25rem; cursor: pointer;">Delete Post</button>
                </form>
            </p>
        </div>
        <!-- <div class="showcase-bottom">
            <img id="showcase-downarrow" src="./svg/downarrow.svg" alt="down arrow">
        </div> -->
    </div>
</section>
