<% layout('layout/boilerplate') %>
<section class="coming-soon">
    <div id="content">
        <div id="showcase-top">
            <a href="/"><img src="/logos/EGLMedia.svg" alt="EGL Media"></a>
            <nav id="navbar">
                <ul>
                    <li><a class="nav-link">About</a></li>
                    <li><a class="nav-link">Projects</a></li>
                    <li><a class="nav-link">Photography</a></li>
                    <li><a class="nav-link">Blog</a></li>
                    <li><a class="nav-link">Contact</a></li>
                    <i class="fa fa-adjust nav-link" aria-hidden="true"></i>
                </ul>
            </nav>
        </div>
        <div id="showcase-middle">
            <h1>Edit Post</h1>
            <form action="/blogs/<%=post._id%>?_method=PUT" method='POST'>
                <div>
                    <label for="title">Title</label>
                    <input type="text" id='title' name='blogpost[title]' value='<%=post.title%>'>
                </div>
                <div>
                    <label for="author">Author</label>
                    <input type="text" id='author' name='blogpost[author]' value='<%=post.author%>'>
                </div>
                <div>
                    <label for="image">Image</label>
                    <input type="file" id='image' name='blogpost[image]' value='<%=post.image%>'>
                </div>
                <div>
                    <label for="date">Date Posted</label>
                    <input type="date" id='date' name='blogpost[date]' value='<%=post.date%>'>
                </div>
                <div>
                    <label for="readlength">Read Length</label>
                    <input type="number" id='image' name='blogpost[readlength]' value='<%=post.readlength%>'>
                </div>
                <div>
                    <label for="categories">Categories</label>
                    <input type="text" id='categories' name='blogpost[categories]' value='<%=post.categories%>'>
                </div>
                <div>
                    <label for="body">Blog Content</label>
                    <input type="text" id='body' name='blogpost[body]' value='<%=post.body%>'>
                </div>
                <div>
                    <input type="submit">
                </div>
            </form>
            <a href="/blogs">Back to Blogs</a>
        </div>
        <!-- <div class="showcase-bottom">
            <img id="showcase-downarrow" src="./svg/downarrow.svg" alt="down arrow">
        </div> -->
    </div>
</section>
